NEXT_PUBLIC_APP_NAME="CineDot Enterprise Cinema"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Backend RESTful API Base URL (Direct Backend URL)
NEXT_PUBLIC_API_URL="https://cinedot_be.test/api/v1"
NEXT_PUBLIC_API_BASE_URL="https://cinedot_be.test/api/v1"
NEXT_PUBLIC_BACKEND_ORIGIN="https://cinedot_be.test"

# TMDB Image Base URL
NEXT_PUBLIC_IMAGE_BASE_URL="https://image.tmdb.org/t/p"

# Mock Strategy (false để gọi API BE thật từ Laravel Herd)
NEXT_PUBLIC_USE_MOCK="false"

# Cinema Operational Default Parameters
NEXT_PUBLIC_DEFAULT_CINEMA_ID="c-1"
NEXT_PUBLIC_DEFAULT_CINEMA_NAME="CineDot Landmark 81 Saigon"
NEXT_PUBLIC_STAGGER_BUFFER_MINUTES=15
NEXT_PUBLIC_CLEANING_BUFFER_MINUTES=20

# Realtime WebSocket / Pusher Broadcast
NEXT_PUBLIC_PUSHER_APP_KEY="cinedot_key"
NEXT_PUBLIC_PUSHER_APP_CLUSTER="ap1"
NEXT_PUBLIC_PUSHER_SCHEME="https"
# NEXT_PUBLIC_PUSHER_HOST="127.0.0.1"
# NEXT_PUBLIC_PUSHER_PORT="6001"

